@import "./variables";

.cube-container {
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%) translateX(-50rem);
  perspective: 40rem;
  perspective-origin: top right;
  transition: 1s;
  animation: show 1s 1s forwards;
}

.cube-background {
  height: 25rem;
  width: 25rem;
  background-color: #000;
  opacity: 0.8;
  transform-style: preserve-3d;
  box-shadow: inset 0 0 100px 0px $base-color;
  border-radius: 50px;
}

.cube {
  position: relative;
  width: 10rem;
  height: 10rem;
  animation: cube-rotate 12s linear infinite;
  transform-style: preserve-3d;
  transition: 1s;
}

.cube:hover {
  width: 60%;
  height: 15%;
  transition: 1s;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border: 1px solid $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: translateZ(5rem);
}
.back {
  transform: translateZ(-5rem);
  /* background-color: yellow; */
}
.right {
  transform: rotateY(-90deg) translateZ(5rem);
  /* background-color: aqua; */
}
.left {
  transform: rotateY(90deg) translateZ(5rem);
  /* background-color: green; */
}
.top {
  transform: rotateX(90deg) translateZ(5rem);
  /* background-color: grey; */
}
.bottom {
  transform: rotateX(-90deg) translateZ(5rem);
  /* background-color: gold; */
}

@media (min-width: 1600px) {
  .cube-container {
    width: 30rem;
    height: 30rem;
  }
}

@keyframes cube-rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem) translateY(-50%);
  }
}
