.cube-container {
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
  perspective: 1000px;
  perspective-origin: top right;
  transition: 1s;
}

.cube-background {
  height: 25rem;
  width: 25rem;
  background-color: #000;
  opacity: 0.8;
  transform-style: preserve-3d;
  box-shadow: inset 0 0 100px 0px hsl(219, 79%, 66%);
  border-radius: 50px;
}

.cube {
  position: relative;
  width: 10rem;
  height: 10rem;
  animation: cube-rotate 12s linear infinite;
  transform-style: preserve-3d;
  transition: 1s;
}

.cube:hover {
  width: 70%;
  height: 70%;
  transition: 1s;
  opacity: 1;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: translateZ(5rem);
}
.back {
  transform: translateZ(-5rem);
  /* background-color: yellow; */
}
.right {
  transform: rotateY(-90deg) translateZ(5rem);
  /* background-color: aqua; */
}
.left {
  transform: rotateY(90deg) translateZ(5rem);
  /* background-color: green; */
}
.top {
  transform: rotateX(90deg) translateZ(5rem);
  /* background-color: grey; */
}
.bottom {
  transform: rotateX(-90deg) translateZ(5rem);
  /* background-color: gold; */
}

@keyframes cube-rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}
