@mixin flexCenter($flow-direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-flow: $flow-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin absCentered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin altered($value1, $value2) {
  opacity: 0;
  transition: 1s;
  z-index: 1;
  transform: translate($value1, $value2);
}

@mixin progress-animation($name, $value, $delay) {
  @keyframes #{$name} {
    from {
      width: 0%;
    }
    to {
      width: $value;
    }
  }
  animation: $name 2s $delay ease-out forwards;
}
