$base-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Arial Narrow", Arial, sans-serif;

$base-color: hsl(247, 13%, 25%);
$base-color-lighter: hsl(247, 23%, 55%);
$base-color-lighter2: hsl(247, 53%, 75%);

$text-color: hsl(67, 10%, 90%);
$small: 768px;
$medium: 1200px;
$large: 1600px;

%nav-hover {
  color: hsl(100, 0%, 100%, 0.2);
  transform: rotateY(0deg);
  text-shadow: 0px 0px 1px white;
  background-color: hsl(100, 0%, 3%);
  border-radius: 10px;
}
