@import "./variables";
@import "./utils";

.about-me {
  background: url("../static/n8.jpg") center / 100%;
}

.me-text {
  background: rgb(0, 0, 0, 0.1) url("../static/n4.jpg") top / 50%;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  padding: 1rem 2rem 3rem;
  transition: 1s;
  text-align: justify;
  margin-top: 1rem;
  font: lighter 1.3rem $base-font;
  color: $text-color;
  transition: 1s;

  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 28%);
  // animation: open-me-text 1s 0.5s forwards;
  z-index: 1;
}

.my-description {
  opacity: 0;
  padding: 1rem;
  border-radius: 20px;
  transition: 1s;
}

.me-text-hidden {
  display: none;
}

.aboutme-info-container {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 80%;
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  animation: open-icons-text 1s 0.5s forwards;
}

.about-me-icon {
  @include flexCenter();
  position: relative;
  width: 40rem;
  height: 10rem;
  border-radius: 50px;
  opacity: 0.8;
  clip-path: circle(30% at 0 0);
  transition: 500ms;
  text-align: center;
  transition: 1.5s;
  color: hsl(67, 10%, 90%, 0);
  font: lighter 1.2rem $base-font;
  padding: 1rem;
  &::after {
    content: "education";
    color: hsl(67, 10%, 90%, 1);
    position: absolute;
    top: 10%;
    left: 5%;
    transition: 1s;
  }
}
.about-me-icon-text {
  padding: 1rem;
  opacity: 0;
}
.icon-2 {
  clip-path: circle(30% at 100% 0%);
  &::after {
    content: "pastime";
    left: 85%;
  }
}

@media (max-width: $small) {
  .about-me {
    animation: unset;
    display: flex;
    flex-flow: column;
  }
  .me-text {
    clip-path: unset;
    transform: unset;
    padding: 1rem;
    font-size: 1rem;
    animation: unset;
    padding: 1rem;
    position: static;
    margin: 3rem 0 2rem 0;
    opacity: 0.8;
    background-size: cover;
  }
  .my-description {
    opacity: 1;
    background-color: #000;
  }
  .aboutme-info-container {
    flex-flow: column;
    transform: none;
    animation: none;
    height: auto;
    width: 100%;
    font-size: 1rem;
    position: static;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .about-me-icon {
    clip-path: none;
    opacity: 0.7;
    width: 95%;
    height: auto;
    opacity: 1;
    color: hsl(67, 10%, 90%, 0.7);
    padding: 1rem 0.5rem;
    font-size: 1rem;
    &::after {
      content: unset;
    }
  }

  .icon-2 {
    clip-path: none;
    margin: 1rem 0;
    &::after {
      content: unset;
    }
  }
}

@media (min-width: $medium) {
  .me-text {
    &:hover {
      opacity: 1;
      transform: translateY(20%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      &::before {
        transition: 600ms;
        opacity: 0;
      }
    }
    &:before {
      transition: 600ms;
      content: "my story";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .my-story {
    color: red;
    opacity: 1;
    z-index: 1;
  }
  .my-description {
    &:hover {
      transition: 600ms;
      opacity: 0.8;
      background-color: #000;
      padding: 1rem;
    }
  }

  .about-me-icon {
    background: #0d3c71a9 url("../static/books.jpg") no-repeat center / contain;
    &:hover {
      color: hsl(67, 10%, 90%, 0.8);
      clip-path: circle(150% at 0 0);
      transition: 1.5s;
      &::after {
        opacity: 0;
        transition: 1s;
      }
    }
  }
  .about-me-icon-text {
    transition: 1s;
    &:hover {
      transition: 1s;
      background-color: #000;
      opacity: 1;
      z-index: 1;
      padding: 1rem;
      color: hsl(67, 10%, 90%, 1);
    }
  }
  .icon-2 {
    background-image: url("../static/drums.jpg");
  }
}

@media (min-width: $large) {
  .me-text {
    padding: 3rem;
    transform: translateY(40%);
    &:hover {
      transform: translateY(50%);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10rem) translateZ(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) translateZ(10rem);
  }
}

@keyframes drop-tiles {
  0% {
    opacity: 0;
    transform: translateY(-10rem) translateZ(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) translateZ(0rem);
  }
}

@keyframes change-img {
  0% {
    opacity: 1;
    filter: brightness(100%) contrast(90%);
  }
  100% {
    filter: brightness(0%);
    opacity: 0;
  }
}

@keyframes open-me-text {
  0% {
    opacity: 0;
    top: -50%;
  }
  100% {
    opacity: 0.5;
    top: 5%;
  }
}
@keyframes open-icons-text {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(-50%);
  }
}
