@import "./variables";

.about-me {
  background-image: url("../static/aboutme.jpg");
  background-size: 100%;
  // animation: hue 15s infinite;
}

.me-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 3rem;
  transition: 1s;
  text-align: justify;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  background-color: black;
  opacity: 0.7;
  transition: 1s;
  transform: translateY(5rem);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 80%);
  &:hover {
    font-size: 1rem;
    transform: scale(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.me-text-hidden {
  display: none;
}

.aboutme-info-container {
  width: 100%;
  // border: 1px solid black;
  height: 10rem;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-icon {
  position: relative;
  width: 40rem;
  height: 10rem;
  border-radius: 50px;
  background-color: black;
  opacity: 0.5;
  clip-path: circle(20% at 0 0);
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 1.5s;
  color: hsl(67, 10%, 90%, 0);
  &::after {
    content: "i";
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: 10%;
    left: 5%;
    transition: 1s;
  }
  &:hover {
    color: hsl(67, 10%, 90%, 1);
    opacity: 1;
    clip-path: circle(150% at 0 0);
    transition: 1.5s;
    &::after {
      opacity: 0;
      transition: 1s;
    }
  }
}
.icon-2 {
  clip-path: circle(20% at 100% 0%);
  &::after {
    left: 94%;
  }
}

.mouse {
  position: absolute;
  width: 1px;
  height: 1px;
  color: white;
  font-size: 0.5rem;
  animation: mouse 3s ease infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10rem) translateZ(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) translateZ(10rem);
  }
}

@keyframes drop-tiles {
  0% {
    opacity: 0;
    transform: translateY(-10rem) translateZ(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) translateZ(0rem);
  }
}

@keyframes change-img {
  0% {
    opacity: 1;
    filter: brightness(100%) contrast(90%);
  }
  100% {
    filter: brightness(0%);
    opacity: 0;
  }
}

@keyframes hue {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

@keyframes mouse {
  0%,
  100% {
    box-shadow: 0 0 2px 2px white;
  }
  50% {
    box-shadow: 0 0 10px 10px white;
  }
}
