@import "./utils";
@import "variables";

.contact {
  background-image: url("../static/contact.jpg");
  background-repeat: no-repeat;
}

.contact-icon {
  @include flexCenter;
  position: absolute;
  top: 57%;
  right: 18%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0 50px black;
  transition: 2s;
  border-radius: 50px;
  color: transparent;
  clip-path: circle(100% at 50% 50%);
  color: #000;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.contact-icon-hidden {
  position: absolute;
  top: 12%;
  right: 79.2%;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  transition: 2s;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px white;
  color: transparent;
}

.contact-info-container {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 30rem;
  height: 15rem;
  transition: 2s;
  border-radius: 20px;
}

.info-container-hidden {
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 30rem;
  height: 15rem;
  transition: 2s;
  border-radius: 20px;
  perspective: 1rem;
  opacity: 0;
}

.contact-item {
  @include flexCenter;
  text-align: center;
  margin: 2rem 0;
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  transition: 1s;
  box-shadow: inset 0 0 40px $base-color;
  font: italic lighter 1rem $base-font;
  opacity: 0.8;
}

@media (max-width: $small) {
  .contact-icon {
    top: 50%;
    right: 15%;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: inset 0 0 10px white;
    transition: 3s;
    font-size: 1rem;
    animation: icon-pulse 2s infinite;
  }
  .contact-icon-hidden {
    transition: 3s;
  }

  .info-container-hidden {
    bottom: 0;
  }
  .moveup {
    background-position: top;
    transition: 2s;
  }
}

@media (min-width: $medium) {
  .contact-icon {
    animation: icon-pulse 2.5s infinite;
  }
  .contact-icon-hidden {
    cursor: pointer;
  }
  .info-icon-hidden {
    &:hover {
      box-shadow: inset 0 0 20px whitesmoke;
      transform: scale(1.5);
    }
  }
  .contact-item {
    &:hover {
      opacity: 1;
      transition: 600ms;
      box-shadow: inset 0 0 0 $base-color;
    }
  }
}

@media (min-width: $large) {
  .contact-info-container {
    font-size: 1.2rem;
    bottom: 25%;
  }
  .contact-item {
    padding: 2rem;
  }
}

@keyframes icon-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
