@import "./utils";
@import "./variables";

.main-container {
  @include flexCenter(column, flex-start, stretch);
  width: 100%;
  height: 100vh;
  background-color: black;
  color: $text-color;
  perspective: 40rem;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.main-info {
  @include flexCenter;
  padding-top: 0.5rem;
  height: 15%;
  font-family: $base-font;
  font-style: italic;
  font-weight: lighter;
  font-size: 4rem;
  color: hsl(247, 13%, 25%, 0);
  transform: rotateX(30deg);
  text-shadow: 10px 10px 1px hsl(67, 10%, 90%, 0.8);
  transition: 2s;
}

.grid-container {
  perspective: 40rem;
  display: grid;
  height: 75%;
  grid-template-columns: 22% 56% 22%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  grid-template-areas:
    "item1  bkground  item3"
    "item2  bkground  item4";
}

.altered-left {
  @include altered(-20rem, -2rem);
}

.altered-right {
  @include altered(20rem, 2rem);
}

.item1,
.item2,
.item3,
.item4 {
  @include flexCenter();
  transition: 1s;
}

$items: 1, 2, 3, 4;

@each $item in $items {
  .item#{$item} {
    grid-area: item#{$item};
  }
}

.nav-link {
  perspective: 20rem;
  padding: 2rem 2.5rem;
  transition: 400ms;
  font-weight: lighter;
  font-style: italic;
  z-index: 1;
  cursor: pointer;
  font-size: 1.4rem;

  &:hover {
    padding: 2rem 4rem;
  }
}

.nav-left {
  transform: rotateY(20deg);
  box-shadow: -5px 0px 10px #222;
  text-shadow: -10px 7px 2px white;
  &:hover {
    @extend %nav-hover;
  }
}

.nav-right {
  transform: rotateY(-20deg);
  box-shadow: 5px 0px 10px #222;
  text-shadow: 10px 7px 2px white;
  &:hover {
    @extend %nav-hover;
  }
}

.page-container {
  width: 70%;
  border-radius: 50px;
  grid-area: bkground;
  transform: rotateX(60deg);
  transition: 700ms;
  position: relative;
}

.page-container-open {
  perspective: 40rem;
  transform: rotateX(0deg);
  transition: 1s;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: -12%;
  transform-origin: bottom;
  transform-style: preserve-3d;
}

@media (max-width: $small) {
  .page-container-open {
    bottom: 0;
    top: -30%;
    height: 100vh;
  }
  .page-container {
    width: 100%;
    height: 70vh;
    top: -10%;
  }

  .nav-link {
    display: none;
  }

  .main-info {
    font-size: 2rem;
    margin-top: 4rem;
    padding: 0 2rem;
    text-align: center;
  }
}

@media (min-width: $medium) {
  .main-info {
    &:hover {
      color: hsl(247, 33%, 55%, 0.9);
      text-shadow: 10px 10px 3px hsl(247, 23%, 85%, 0.5);
      transform: rotateX(0deg);
      transition: 2s;
    }
  }
  .page-container {
    max-width: 60%;
    max-height: 90%;
    transform: rotateX(55deg);
    transition: 700ms;
  }
  @media (min-width: $large) {
    .page-container {
      max-width: 55%;
      max-height: 80%;
      border-radius: 50px;
      grid-area: bkground;
      transform: rotateX(55deg);
      transition: 700ms;
      position: relative;
    }
  }
}
