@import "./utils";
@import "./variables";

.my-projects {
  background-image: url("../static/pro2.jpg");
  perspective: 20rem;
}

.projects-container {
  display: flex;
  padding: 2rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 10%;
  left: 10%;
  transition: 1s;
  font-weight: lighter;
  font-size: 1rem;
  opacity: 1;
  box-shadow: 0 0 100px 10px $base-color;
  border-radius: 0px;
  flex-flow: column;
  text-align: center;

  &:hover {
    background-color: $base-color;
    box-shadow: 0 0 0 0 $base-color;
  }
}

.text-my-projects {
  text-align: center;
  transition: 1s;
  font-size: 1rem;
}
.text-my-projects-open {
  text-align: center;
  padding: 1rem;
  transition: 1s;
  font-size: 1.2rem;
}

.projects-container-open {
  padding: 2rem;
  width: 80%;
  height: 70%;
  position: absolute;
  transition: width 1s, height 1s ease-out 1s, background-color 1s, font-size 1s linear 2s, opacity 2s,
    transform 2s;
  top: 10%;
  left: 10%;
  font-weight: lighter;
  font-size: 1rem;
  opacity: 1;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.4);
  backdrop-filter: contrast(120%) sepia(40%);
  box-shadow: inset 0 0 100px $base-color-lighter;
  display: flex;
  flex-flow: column;
}

.projects-item {
  transform: translateX(-60rem);
  transition: 1s;
}

.projects-item-visible {
  transform: translateX(0rem);
  transition: 1s 1s;
}

.link-container-visible {
  display: flex;
  margin: 1rem 0;
  text-align: center;
  transition: 600ms;
  opacity: 1;
  transform: rotateX(0deg);
}

.link-container {
  top: -10rem;
  display: flex;
  margin: 1rem 0;
  text-align: center;
  transition: 600ms;
  opacity: 1;
  transform: rotateX(90deg);
}

.link {
  @include flexCenter();
  background-color: $base-color-lighter2;
  width: 6rem;
  height: 3rem;
  transform: translateX(100rem) rotateZ(0deg);
  transition: 1s;
}

.link-2 {
  @include flexCenter();
  background-color: $base-color-lighter2;
  width: 6rem;
  height: 3rem;
  transform: translateX(100rem) rotateZ(20deg);
  transition: 1s;

  &:hover {
    background-color: $base-color-lighter;
    transition: 300ms;
  }
}

.trans-2 {
  transition: transform 2s ease-in-out 1s, background-color 400ms;
}

.link-visible {
  @include flexCenter();
  background-color: $base-color-lighter2;
  width: 6rem;
  height: 3rem;
  transition: transform 2s, background-color 400ms;
  transform: translateX(0rem) rotateX(0deg);

  &:hover {
    background-color: $base-color-lighter;
    transition: 300ms;
  }

  &:first-child {
    margin-right: 1rem;
  }
}

.link-visible-2 {
  @include flexCenter();
  background-color: $base-color-lighter2;
  width: 6rem;
  height: 3rem;
  transition: transform 2s 1s, background-color 400ms;
  transform: translateX(0rem) rotateX(0deg);

  &:hover {
    background-color: $base-color-lighter;
    transition: 300ms;
  }
}

.project-close-icon {
  z-index: 1;
  position: absolute;
  background-color: $base-color-lighter2;
  top: 5%;
  right: 5%;
  width: 1.5rem;
  height: 1.5rem;
  transition: 500ms;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  &:hover {
    background-color: #fff;
    clip-path: polygon(
      0% 20%,
      20% 0%,
      50% 30%,
      80% 0%,
      100% 20%,
      70% 50%,
      100% 80%,
      80% 100%,
      50% 70%,
      20% 100%,
      0% 80%,
      30% 50%
    );
  }
}

.project-close-icon-hidden {
  transition: 1s;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
}

@media (min-width: 1600px) {
  .projects-container-open {
    padding-left: 5rem;
    width: 75%;
  }
}
