@import "./variables";

.navbar-container {
  position: fixed;
  width: 40%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  opacity: 0.9;
  transition: 1s;
  overflow: hidden;
}

.navbar-item {
  width: 100%;
  padding: 1rem;
  background-color: $base-color;
  transform: translateX(0rem);
  transition: 1s;
}

.nav-hidden {
  width: 100%;
  padding: 1rem;
  background-color: $base-color;
  transform: translateX(20rem);
}

.nav-item1 {
  transition: 1s;
}
.nav-item2 {
  transition: 1s 300ms;
}
.nav-item3 {
  transition: 1s 600ms;
}
.nav-item4 {
  transition: 1s 900ms;
}

.close-icon {
  position: absolute;
  background-color: white;
  top: 10%;
  right: 10%;
  width: 1rem;
  height: 1rem;
  transition: 1s;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.menu-icon {
  position: absolute;
  background-color: $base-color-lighter;
  top: 10%;
  right: 10%;
  width: 1.5rem;
  height: 1.5rem;
  clip-path: polygon(
    40% 0%,
    40% 0%,
    40% 20%,
    100% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 80%,
    40% 100%,
    40% 100%,
    0% 50%,
    0% 50%
  );
  transition: 1s;
}

@media (min-width: $small) {
  .navbar-container {
    display: none;
  }
}
