@import "./variables";

@mixin absCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100%;
  border-radius: 50px;
  perspective: 40rem;
  box-shadow: 5px 0px 20px 10px $base-color;
  transition: 2s;
}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  perspective: 20rem;
}

.img-part {
  background-size: 1350%;
}

.img-part {
  transition: 500ms;
  &:hover {
    background-size: 100%;
  }
}

.img-part:nth-child(1) {
  border-top-left-radius: 50px;
}
.img-part:nth-child(10) {
  border-top-right-radius: 50px;
}
.img-part:nth-child(91) {
  border-bottom-left-radius: 50px;
}
.img-part:nth-child(100) {
  border-bottom-right-radius: 50px;
}

.transformed {
  background-size: 50%;
  transition: 2s;
}
.transformed-2 {
  background-size: 70%;
  transition: 2s;
}

.grey-contact {
  filter: grayscale(100%);
  transition: 3s;
}

.magnified {
  background-size: 130%;
  transition: 1s;
  filter: saturate(120%);
}

.magnified-2 {
  background-size: 40%;
  transition: 1s;
}

.skills-tab {
  width: 100%;
}

.main-text {
  @include absCentered();
  color: $text-color;
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 2rem;
  animation: headline 4s ease-out infinite;
  font-family: $base-font;
  transition: 500ms;
  width: fit-content;
  &:hover {
    background-color: $base-color;
    padding: 3rem;
    transition: 1s;
    cursor: pointer;
    border-radius: 20px;
  }
}

.main-text-hidden {
  @include absCentered();
  border: 1px solid #fff;
  opacity: 1;
  font-size: 1rem;
  font-weight: lighter;
  transition: 1s;
  padding: 1rem;
  border-radius: 10px;
  transform-origin: right;
}

.main-text-hidden:hover {
  opacity: 1;
  padding: 3rem;
  font-size: 0.5rem;
  border-radius: 0;
  box-shadow: inset 0 0 10px #fff;
}

.main-text-disappear {
  animation: main-out 1s forwards;
}

.main-text-appear {
  animation: main 1s forwards;
}

@keyframes headline {
  0%,
  100% {
    transform: translateZ(0rem) rotateX(0deg) translateY(-50%) translateX(-50%);
    box-shadow: 0 0px 10px hsl(0, 0%, 100%, 0.7);
    text-shadow: 0px 30px 5px hsl(0, 0%, 100%, 0.7);
  }
  50% {
    transform: translateZ(10rem) rotateX(0deg) translateY(calc(-50% - 10rem)) translateX(-50%);
    box-shadow: 0 10px 20px hsl(0, 0%, 100%, 0.7);
    text-shadow: 0 0 0 white;
  }
}

@media (max-width: 768px) {
  .main-text {
    font-size: 1rem;
  }

  .img-part {
    background-size: 1300%;
  }
}

@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
