@use "./cube";
@import "./utils";
@import "./variables";

.skills {
  background-image: url("../static/skills.jpg");
  background-position-y: 70%;
}

.skills-container {
  @include flexCenter(column);
  width: 15rem;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  right: 15%;
  padding-top: 1rem;
  perspective: 30rem;
  transition: 2s;
}

#skills-title {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100%;
  font-weight: lighter;
  font-style: italic;
}

.skills-item {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  text-align: center;
  position: relative;
  background-color: transparent;
  font-weight: lighter;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.3;
    background-color: $base-color-lighter;
  }
  &:nth-child(1) {
    margin-top: 1rem;
  }
}

#html::after {
  @include skillbar-animation(eighty, 100%, 2s);
}

#css::after {
  @include skillbar-animation(seventyFive, 100%, 3s);
}

#javascript::after {
  @include skillbar-animation(seventy, 100%, 4s);
}
#react::after {
  @include skillbar-animation(seventy, 100%, 5s);
}
#node::after {
  @include skillbar-animation(fourty, 100%, 6s);
}
#mongo::after {
  @include skillbar-animation(thirty, 100%, 7s);
}
#git::after {
  @include skillbar-animation(fourtyFive, 100%, 8s);
}

#html,
#css,
#javascript,
#react,
#node,
#mongo,
#git {
  transform: translateY(-100%) rotateX(180deg);
  backface-visibility: hidden;
  background-color: transparent;
}

#html {
  transform: translateY(-100%) rotateX(180deg);
  animation: roll 1s 1s forwards;
}

#css {
  animation: roll 1s 2s forwards;
}

#javascript {
  animation: roll 1s 3s forwards;
}

#react {
  animation: roll 1s 4s forwards;
}

#node {
  animation: roll 1s 5s forwards;
}

#mongo {
  animation: roll 1s 6s forwards;
}

#git {
  animation: roll 1s 7s forwards;
}

@media (max-width: $medium) {
  .skills-container-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
  }
}

@media (min-width: $medium) {
  .skills-tab-hidden {
    display: none;
  }
}

@media (min-width: $large) {
  .skills-container {
    font-size: 1.25rem;
  }
  .skills-item {
    padding: 1.5rem;
  }
}

@keyframes roll {
  from {
    transform: translateY(-100%) rotateX(180deg);
  }
  to {
    transform: translateY(0) rotateX(0deg);
    background-color: black;
  }
}

@keyframes move-tiles {
  0% {
    opacity: 0.5;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
