.main-container {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  perspective: 40rem;
  overflow: hidden;
}

.main-info {
  height: 25%;
}

.grid-container {
  display: grid;
  height: 60%;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  grid-template-areas:
    "item1  bkground  item3"
    "item2  bkground  item4";
}

.item1 {
  grid-area: item1;
  transition: 1s;
}

.altered-left {
  opacity: 0;
  transition: 1s;
  z-index: 1;
  transform: translateX(-20rem);
}

.item2 {
  grid-area: item2;
  transition: 1s;
}

.item3 {
  grid-area: item3;
  transition: 1s;
}
.item4 {
  grid-area: item4;
  transition: 1s;
}

.altered-right {
  opacity: 0;
  transition: 1s;
  z-index: 1;
  transform: translateX(20rem);
}

.page-container {
  width: 70%;
  border-radius: 50px;
  grid-area: bkground;
  transform: rotateX(60deg);
  transition: 700ms;
  position: relative;
}

.page-container-hover {
  background-size: cover;
  transform: rotateX(0deg);
  transform-origin: top;
  transition: 1000ms;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: bottom;
  transform-style: preserve-3d;
}

.footer {
  height: 15%;
}

.nav-link-left {
  padding: 2.5rem;
  border-radius: 26% 74% 13% 87% / 41% 56% 44% 59%;
  box-shadow: inset 5px 5px 10px #fff, 2px 2px 20px 2px #aaa;
  transition: 400ms;
  font-weight: lighter;
  font-style: italic;
  z-index: 1;
}

.nav-link-left:hover {
  transition: 400ms;
  padding: 3rem;
  border-radius: 79% 21% 71% 29% / 34% 93% 7% 66%;
  box-shadow: inset 2px 2px 15px #fff, 2px 2px 40px 2px #222;
  cursor: pointer;
  background-color: #111;
}

.nav-link-right {
  padding: 2.5rem;
  border-radius: 77% 23% 79% 21% / 57% 39% 61% 43%;
  box-shadow: inset 5px 5px 10px #fff, 2px 2px 20px 2px #aaa;
  transition: 400ms;
  font-weight: lighter;
  font-style: italic;
  z-index: 1;
}

.nav-link-right:hover {
  padding: 3rem;
  border-radius: 79% 21% 71% 29% / 34% 93% 7% 66%;
  box-shadow: inset 2px 2px 15px #fff, 2px 2px 40px 2px #222;
  transition: 400ms;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
