.page-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  perspective: 40rem;
  box-shadow: 5px 0px 20px 10px rgb(95, 94, 122);
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  border: 3px solid white;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 20px white;
  border-radius: 20px;
  animation: headline 4s ease-out infinite;
  position: absolute;
  transition: 500ms;
}

.main-text-hidden {
  position: absolute;
  border: 2px solid white;
  opacity: 0.5;
  font-size: 1rem;
  transition: 1s;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: right;
}

.main-text-hidden:hover {
  opacity: 1;
}

@keyframes headline {
  0%,
  100% {
    transform: translateZ(0rem) rotateX(0deg) translateY(-50%) translateX(-50%);
    box-shadow: 0px 5px 10px #ddd;
    filter: blur(1px);
  }
  50% {
    transform: translateZ(10rem) rotateX(0deg) translateY(calc(-50% - 10rem)) translateX(-50%);
    box-shadow: 0px 0px 10px #ddd;
    filter: blur(0px);
  }
}
